@charset "utf-8";

/* --------------------
    common
-------------------- */
.blind {overflow:hidden; position:absolute; width:1px; height:1px; padding:0; border:0; margin:-1px; clip:rect(0 0 0 0);}
.clearfix:after {content:''; display:block; clear:both;}
.pc_only {display:block !important;}
.m_only {display:none !important;}
.img_box {display:block;}
.float_l {float:left;}
.float_r {float:right;}

.container {margin:0 auto;}
.inner {width:1200px; margin:0 auto;}
header {height:120px; background-color:#002c64; color:#fff;}
header .inner {position:relative;}
header h1 {display:inline-block; width:246px; padding:28px 0;}
header h1 img {width:224px; height:64px;}
header .btn_gnb,
header .btn_close {position:absolute; top:35px; right:-10px; width:50px; height:50px; padding:10px;}
header .btn_gnb img,
header .btn_close img {width:100%; height:100%;}

nav {height:60px; background-color:#041b38; color:#fff; letter-spacing:-1.5px;}
nav h2 {float:left; font-size:18px; font-weight:500; line-height:60px;}
nav ul {float:right; margin-right:-25px; font-size:16px;}
nav ul > li {float:left; padding:0 25px; line-height:60px;}
nav ul > li.active {font-weight:500;}
nav ul > li + li {margin-left:10px;}

.btn_go_top {opacity:0; position:fixed; top:260px; left:calc(50% + 630px); display:block; width:80px; height:88px; padding-top:55px; background:url('../img/icon_go_top.jpg'); background-size:100% 100%; color:#fff; text-align:center; transition:opacity .5s;}

footer {height:110px; background-color:#041b38; color:#fff;}
footer .copyright {display:inline-block; font-size:12px; letter-spacing:0.6px; line-height:110px;}
footer img {width:128px; height:63px; margin:22px 0;}


/* --------------------
    Gnb_layer
-------------------- */
.gnb_layer {display:none; z-index:50; position:fixed; top:0; left:0; width:100%; height:100%; background-color:#002c64;}
.gnb_wrap {color:#fff;}
.gnb_wrap .gnb {height:100%; padding-top:50px; padding-left:10px; overflow-y:auto;}
.gnb_wrap strong {display:block; padding-bottom:30px; font-size:50px;}
.gnb_wrap strong + ul {margin-left:-25px;}
.gnb_wrap strong + ul:after {content:''; display:block; clear:both;}
.gnb_wrap strong + ul li {position:relative; float:left; padding:0 25px; font-size:16px;}
.gnb_wrap strong + ul li + li:before {content:''; position:absolute; top:2px; left:0; width:1px; height:14px; background-color:#fff;}
.gnb_wrap strong + ul li + li.last:before {display:none;}
.gnb_wrap strong + ul li:hover a {font-weight:700;}


/* --------------------
    Download_layer
-------------------- */
/* .download_layer {display: none; z-index:30; position:fixed; top:calc(50% - 270px); left:calc(50% - 190px); width:380px; height:auto; background-color:#fff;}
.download_layer ul {padding:30px;}
.download_layer ul > li {width:100%; background:#123770 url('../img/icon_download.png') no-repeat  center right 30px; background-size:22px 19px;}
.download_layer ul > li + li {margin-top:10px;}
.download_layer ul > li > a {display:block; padding-left:30px; color:#fff; font-size:20px; line-height:80px;}
.download_layer .btn_box {padding:28px 30px; background-color:#041b38; color:#fff; font-size:14px; text-align:right;}
.download_layer .btn_box .chk_today {position:relative; display:inline-block; width:16px; height:16px; margin-left:10px; border:none; background-color:#fff; vertical-align:middle; -webkit-appearance:none; -webkit-border-radius:0; cursor:pointer;} */


/* --------------------
    Index
-------------------- */
.container.main {width:1920px; margin:0 auto;}
.container.main main .inner {width:100%;}
.container.main .link_box {float:left; width:50%;}
.container.main .link_box > div {height:450px; background-repeat:no-repeat; background-size:480px 450px;}
.container.main .person {background-image:url('../img/main04.jpg'); background-position:left;}
.container.main .leader {background-image:url('../img/main003.jpg'); background-position:left;}
.container.main .scholar {background-image:url('../img/main002.jpg'); background-position:right;}
.container.main .pride {background-image:url('../img/main001.jpg'); background-position:right;}
.container.main .link_box a {display:block; width:calc(100% - 480px); height:100%; background-color:#fff; color:#002c64; font-size:52px; font-weight:700; letter-spacing:-4px; text-align:center; line-height:450px; transition:color .3s;}
.container.main .link_box a:hover {background-color:#002c64; color:#fff; transition:all .5s;}
.container.main .person > a,
.container.main .leader > a {margin-left:480px;}
.container.main .scholar > a,
.container.main .pride > a {margin-right:480px;}
.container.main .pride > a {display:table; line-height:1;}
.container.main .pride > a > span {display:table-cell; vertical-align:middle;}
.container.main .pride > a > span > span {font-size:34px;}

.link_wrap {padding:47px 0; background-color:#002c64;}
.link_wrap ul {width:1200px; margin:0 auto;}
.link_wrap ul > li {float:left; width:calc(25% - 25.5px); height:75px; border:4px solid #fff; border-radius:37px; background-color:#002c64; background-image:url('../img/icon_download.png'); background-repeat:no-repeat; background-position:center right 35px; background-size:34px 30px; color:#fff; box-sizing:border-box;}
.link_wrap ul > li:hover {background-color:#fff; background-image:url('../img/icon_download_hover.png');}
.link_wrap ul > li:last-child {background-image:url('../img/icon_arrow.png');}
.link_wrap ul > li:last-child:hover {background-image:url('../img/icon_arrow_hover.png');}
.link_wrap ul > li + li {margin-left:34px;}
.link_wrap ul > li > a {display:block; padding-left:45px; color:#fff; font-size:20px; font-weight:700; line-height:67px;}
.link_wrap ul > li:hover > a {color:#002c64;}


/* --------------------
    Sub
-------------------- */
.sub footer {margin-top:20px;}

.sub article {padding:85px 0 40px;}
.sub article > h3 {position:relative; color:#123770; padding-left:130px; font-size:32px; font-weight:700; letter-spacing:-2px;}
.sub article > h3:before {position:absolute; top:-5px; left:0; width:115px; height:40px; border:1px solid #123770; border-radius:20px; font-size:16px; text-align:center; line-height:38px; letter-spacing:-1px;}
.sub.person article > h3:before {content:'사업 안내';}
.sub.scholar article > h3:before {content:'주요 성과';}
.sub.leader article > h3:before {content:'건강센터';}
.sub article .img_box {padding-top:35px;}
.sub article .txt_box {text-indent:10px; padding:40px 0; font-size:16px; line-height:26px; letter-spacing:-0.9px;}
.sub.pride article .txt_box {text-indent:0;}
.sub.person article .txt_box,
.sub.scholar article .txt_box {margin:40px 0; padding:0;}
.sub article .txt_box:after {content:''; display:block; clear:both;}
.sub article .txt_box.type01 {color:#123770;}
.sub article .txt_box.type01 > span {width:calc(50% - 12px);}

.sub article .txt_box.type02 {position:relative; background-color:#123770; color:#fff;}
.sub.person article .txt_box.type02 {min-height:1470px;}
.sub.scholar article .txt_box.type02 {min-height:965px;}
.sub article .txt_box.type02 > dl {width:calc(50% - 12px); background-color:#123770;}
.sub article .txt_box.type02 > dl.float_l:after {content:''; position:absolute; top:0; left:calc(50% - 12px); width:24px; height:100%; background-color:#fff;}
.sub article .txt_box.type02 > dl dt {padding: 25px 30px; background-color:#0e2f62; font-size:24px; font-weight:400;}
.sub article .txt_box.type02 > dl dd {padding:40px 0 30px 30px; font-size:14px;}
.sub article .txt_box.type02 > dl dd > strong {display:block; padding-bottom:20px; font-size:18px;}
.sub article .txt_box.type02 > dl dd > ul + strong {padding-top:30px;}
.sub article .txt_box.type02 > dl dd li {line-height:32px;}
.sub article .txt_box.type02 > dl dd li:after {content:''; display:block; clear:both;}
.sub article .txt_box.type02 > dl dd li > span {float:left; display:block; width:auto;}
.sub article .txt_box.type02 > dl dd.cell01 li > span {width:100%;}
.sub article .txt_box.type02 > dl dd.cell02 li > span:first-child {width:140px;}
.sub article .txt_box.type02 > dl dd.cell03 li > span:first-child {width:120px;}
.sub article .txt_box.type02 > dl dd.cell03 li > span:nth-child(2) {width:200px;}
.sub article .txt_box.type02 > dl .tit05 + dd > strong {padding-bottom:10px;}
.sub article .txt_box.type02 > dl .tit05 + dd li {line-height:28px;}
.sub article .txt_box.type02 > dl .tit05 + dd > ul + strong {padding-top:35px;}

/* --------------------
    Sub - Pride
-------------------- */
.sub.pride footer {margin-top:40px;}

.sub.pride article {padding:85px 0 60px;}
.sub.pride article > h3 {font-size:24px; padding-left:0; letter-spacing:-1.5px;}
.sub.pride article .img_box {padding:40px 0 25px; text-align:center;}
.sub.pride article .img_box img {width:427px; height:208px;}
.sub.pride article .txt_box.type03 {color:#fff;}
.sub.pride article .txt_box.type03 > dl {position:relative; width:calc(50% - 12px); height:490px; background-color:#123770;}
.sub.pride article .txt_box.type03 > dl:before {content:''; position:absolute; top:0; left:0; width:180px; height:100%; background-color:#0e2f62;}
.sub.pride article .txt_box.type03 > dl dt,
.sub.pride article .txt_box.type03 > dl dd {float:left;}
.sub.pride article .txt_box.type03 > dl dd + dt {clear:left;}
.sub.pride article .txt_box.type03 > dl dt {position:absolute; left:40px; font-size:18px;}
.sub.pride article .txt_box.type03 > dl dt.tit01 {top:65px;}
.sub.pride article .txt_box.type03 > dl dt.tit02 {top:155px;}
.sub.pride article .txt_box.type03 > dl dt.tit03 {top:290px;}
.sub.pride article .txt_box.type03 > dl dt.tit04 {top:65px;}
.sub.pride article .txt_box.type03 > dl dd {width:calc(100% - 180px); margin-left:180px; padding:10px 25px 50px;}
.sub.pride article .txt_box.type03 > dl dd:nth-of-type(1) {padding-top:65px;}
.sub.pride article .txt_box.type03 > dl dd strong {display:block; font-size:18px;}
.sub.pride article .txt_box.type03 > dl dd span + strong {padding-top:27px;}

.sub.pride .btn_download {display:block; width:236px; height:60px; margin:20px auto; border-radius:30px; background-color:#002c64; color:#fff; font-size:18px; font-weight:700; text-align:center; line-height:60px; letter-spacing:-2px;}

.sub.pride .row {position:relative; height:384px; margin-top:30px; background-color:#e7eaef; color:#123770; letter-spacing:-2px;}
.sub.pride .row:before {position:absolute; top:0; width:400px; height:100%; background-color:#123770; color:#fff; font-size:290px; font-weight:700; text-align:center; line-height:360px;}
.sub.pride .row.odd:before {left:0;}
.sub.pride .row.even:before {right:0;}
.sub.pride .row.title_p:before {content:'P';}
.sub.pride .row.title_r:before {content:'R';}
.sub.pride .row.title_i:before {content:'I';}
.sub.pride .row.title_d:before {content:'D';}
.sub.pride .row.title_e:before {content:'E';}
.sub.pride .row.title_a:before {content:'A';}
.sub.pride .row.title_g:before {content:'G';}
.sub.pride .row.title_l:before {content:'L';}
.sub.pride .row:after {content:''; position:absolute; top:185px; width:20px; height:20px; background-color:#123770; transform:rotate(45deg);}
.sub.pride .row.odd:after {left:390px;}
.sub.pride .row.even:after {right:390px;}

.sub.pride .row strong {position:absolute; top:35px; font-size:42px; line-height:50px;}
.sub.pride .row span {position:absolute; top:40px; font-size:32px; font-weight:700;}
.sub.pride .row ul {position:absolute; bottom:25px; width:360px; font-size:18px;}
.sub.pride .row li {position:relative; padding-bottom:10px; padding-left:30px; border-bottom:1px solid #d1d7e2; line-height:26px;}
.sub.pride .row li + li {margin-top:10px;}
.sub.pride .row li:last-child {border-bottom:0;}
.sub.pride .row li:before {position:absolute; top:0; left:0; font-size:10px; letter-spacing:0;}
.sub.pride .row li:first-child:before {content:'01';}
.sub.pride .row li:nth-child(2):before {content:'02';}
.sub.pride .row li:last-child:before {content:'03';}

.sub.pride .row.odd {padding-left:400px;}
.sub.pride .row.odd strong {left:440px;}
.sub.pride .row.odd span,
.sub.pride .row.odd ul {left:800px;}

.sub.pride .row.even {padding-right:400px;}
.sub.pride .row.even strong {left:40px;}
.sub.pride .row.even span,
.sub.pride .row.even ul {left:400px;}

.sub.pride .pride3515 + .img_box {margin:30px auto -30px; text-align:center;}
.sub.pride .eagle_project .row strong {top:135px;}
.sub.pride .eagle_project .row span {top:207px; font-size:18px; line-height:30px; letter-spacing:-1px;}
.sub.pride .eagle_project .row.title_g strong {top:110px;}
.sub.pride .eagle_project .row.title_g span {top:235px;}
.sub.pride .eagle_project .row.odd strong,
.sub.pride .eagle_project .row.odd span {left:440px;}
.sub.pride .eagle_project .row.even strong,
.sub.pride .eagle_project .row.even span {left:40px;}



@media (min-width:769px) and (max-width:1440px){
    /* --------------------
        common
    -------------------- */
    .inner {width:83.3333vw;}
    header {height:8.3333vw;}
    header h1 {width:17.0833vw; padding:1.9444vw 0;}
    header h1 img {width:17.0833vw; height:4.4444vw;}
    header .btn_gnb,
    header .btn_close {position:absolute; top:2.4306vw; right:-0.6944vw; width:3.4722vw; height:3.4722vw; padding:0.6944vw;}

    nav {height:4.1667vw; letter-spacing:-0.1042vw;}
    nav h2 {font-size:1.2500vw; line-height:4.1667vw;}
    nav ul {margin-right:-1.7361vw; font-size:1.1111vw;}
    nav ul > li {padding:0 1.7361vw; line-height:4.1667vw;}
    nav ul > li + li {margin-left:0.6944vw;}

    .btn_go_top {top:18.0556vw; left:calc(50% + 43.4028vw); width:5.5556vw; height:6.1111vw; padding-top:3.8194vw;}
    
    footer {height:7.6389vw;}
    footer .copyright {font-size:0.8333vw; letter-spacing:0.0417vw; line-height:7.6389vw;}
    footer img {width:8.8889vw; height:4.3750vw; margin:1.5278vw 0;}


    /* --------------------
        Gnb_layer
    -------------------- */
    .gnb_wrap .gnb {padding-top:3.4722vw; padding-left:0.6944vw;}
    .gnb_wrap strong {padding-bottom:2.0833vw; font-size:3.4722vw;}
    .gnb_wrap strong + ul {margin-left:-1.7361vw;}
    .gnb_wrap strong + ul li {padding:0 1.7361vw; font-size:1.1111vw;}
    .gnb_wrap strong + ul li + li:before {top:0.1389vw; height:0.9722vw;}

	
	/* --------------------
		Download_layer
	-------------------- */
	.download_layer {top:calc(50% - 18.7500vw); left:calc(50% - 13.1944vw); width:26.3889vw;}
	.download_layer ul {padding:2.0833vw;}
	.download_layer ul > li {width:100%; background-position:center right 2.0833vw; background-size:1.5278vw 1.3194vw;}
	.download_layer ul > li + li {margin-top:0.6944vw;}
	.download_layer ul > li > a { padding-left:2.0833vw; font-size:1.3889vw; line-height:5.5556vw;}
	.download_layer .btn_box {padding:1.9444vw 2.0833vw; font-size:0.9722vw; }
	.download_layer .btn_box .chk_today {width:1.1111vw; height:1.1111vw; margin-left:0.6944vw;}

    
    /* --------------------
        Index
    -------------------- */
    .container.main {width:100%;}
    .container.main .link_box {width:100%;}
    .container.main .link_box > div {height:46.8750vw; background-size:50% 46.8750vw;}
    .container.main .link_box a {width:50%; height:100%; font-size:3.6111vw; letter-spacing:-0.2778vw; line-height:46.8750vw;}
    .container.main .person > a,
    .container.main .leader > a {margin-left:50%;}
    .container.main .scholar > a,
    .container.main .pride > a {margin-right:50%;}
    .container.main .pride > a {line-height:1;}
	.container.main .pride > a > span > span {font-size:2.3611vw;}

	.link_wrap {padding:3.2639vw 0;}
	.link_wrap ul {width:83.3333vw;}
	.link_wrap ul > li {width:calc(25% - 1.7708vw); height:5.2083vw; border:0.2778vw solid #fff; border-radius:2.5694vw; background-position:center right 2.4306vw; background-size:2.3611vw 2.0833vw;}
	.link_wrap ul > li + li {margin-left:2.3611vw;}
	.link_wrap ul > li > a {padding-left:3.1250vw; font-size:1.3889vw; line-height:4.6528vw;}


	/* --------------------
        Sub
    -------------------- */
    .sub footer {margin-top:1.3889vw;}

    .sub article {padding:5.9028vw 0 2.7778vw;}
    .sub article > h3 {padding-left:9.0278vw; font-size:2.2222vw; letter-spacing:-0.1389vw;}
    .sub article > h3:before {top:-0.3472vw; left:0; width:7.9861vw; height:2.7778vw; border-radius:1.3889vw; font-size:1.1111vw; line-height:2.6389vw; letter-spacing:-0.0694vw;}
    .sub article .img_box {padding-top:2.4306vw;}
    .sub article .txt_box {text-indent:0.6944vw; padding:2.7778vw 0; font-size:1.1111vw; line-height:1.8056vw; letter-spacing:-0.0625vw;}
    .sub.pride article .txt_box {text-indent:0;}
	.sub.person article .txt_box,
	.sub.scholar article .txt_box {margin:2.7778vw 0; padding:0;}
    .sub article .txt_box.type01 > span {width:calc(50% - 0.8333vw);}

	.sub.person article .txt_box.type02 {min-height:102.0833vw;}
	.sub.scholar article .txt_box.type02 {min-height:67.0139vw;}
    .sub article .txt_box.type02 > dl {width:calc(50% - 0.8333vw);}
	.sub article .txt_box.type02 > dl.float_l:after {left:calc(50% - 0.8333vw); width:1.6667vw;}
    .sub article .txt_box.type02 > dl dt {padding: 1.7361vw 2.0833vw;  font-size:1.6667vw; }
    .sub article .txt_box.type02 > dl dd {padding:2.7778vw 0 2.0833vw 2.0833vw; font-size:0.9722vw;}
    .sub article .txt_box.type02 > dl dd > strong { padding-bottom:1.3889vw; font-size:1.2500vw;}
    .sub article .txt_box.type02 > dl dd > ul + strong {padding-top:2.0833vw;}
    .sub article .txt_box.type02 > dl dd li {line-height:2.2222vw;}
    .sub article .txt_box.type02 > dl dd.cell01 li > span {width:100%;}
    .sub article .txt_box.type02 > dl dd.cell02 li > span:first-child {width:9.7222vw;}
    .sub article .txt_box.type02 > dl dd.cell03 li > span:first-child {width:8.3333vw;}
    .sub article .txt_box.type02 > dl dd.cell03 li > span:nth-child(2) {width:13.8889vw;}
    .sub article .txt_box.type02 > dl .tit05 + dd > strong {padding-bottom:0.6944vw;}
    .sub article .txt_box.type02 > dl .tit05 + dd li {line-height:1.9444vw;}
    .sub article .txt_box.type02 > dl .tit05 + dd > ul + strong {padding-top:2.4306vw;}


    /* --------------------
        Sub - Person
    -------------------- */
    .sub.person article .txt_box.type02 > dl dt.tit01 {top:4.5139vw;}
    .sub.person article .txt_box.type02 > dl dt.tit02 {top:13.5417vw;}
    .sub.person article .txt_box.type02 > dl dt.tit03 {top:30.2083vw;}
    .sub.person article .txt_box.type02 > dl dt.tit04 {top:4.5139vw;}
    .sub.person article .txt_box.type02 > dl dt.tit05 {top:28.1250vw;}
    .sub.person article .txt_box.type02 > dl dd {padding:0.6944vw 1.7361vw 3.1250vw;}
    .sub.person article .txt_box.type02 > dl dd:nth-of-type(1) {padding-top:4.1667vw;}


    /* --------------------
        Sub - Pride
    -------------------- */
    .sub.pride footer {margin-top:2.7778vw;}

    .sub.pride article {padding:5.9028vw 0 4.1667vw;}
    .sub.pride article > h3 {font-size:1.6667vw; padding-left:0; letter-spacing:-0.1042vw;}
    .sub.pride article .img_box {padding:2.7778vw 0 1.7361vw;}
	.sub.pride article .img_box img {width:29.6528vw; height:14.4444vw;}
    .sub.pride article .txt_box.type03 > dl {width:calc(50% - 0.8333vw); height:34.0278vw;}
    .sub.pride article .txt_box.type03 > dl:before {width:12.5000vw;}
    .sub.pride article .txt_box.type03 > dl dt {left:2.7778vw; font-size:1.2500vw;}
    .sub.pride article .txt_box.type03 > dl dt.tit01 {top:4.5139vw;}
    .sub.pride article .txt_box.type03 > dl dt.tit02 {top:10.7639vw;}
    .sub.pride article .txt_box.type03 > dl dt.tit03 {top:20.1389vw;}
    .sub.pride article .txt_box.type03 > dl dt.tit04 {top:4.5139vw;}
    .sub.pride article .txt_box.type03 > dl dd {padding:0.6944vw 1.7361vw 3.4722vw;}
    .sub.pride article .txt_box.type03 > dl dd {width:calc(100% - 12.5000vw); margin-left:12.5000vw;}
    .sub.pride article .txt_box.type03 > dl dd:nth-of-type(1) {padding-top:4.5139vw;}
    .sub.pride article .txt_box.type03 > dl dd strong {font-size:1.2500vw;}
    .sub.pride article .txt_box.type03 > dl dd span + strong {padding-top:1.8750vw;}
    .sub.pride .btn_download {width:16.3889vw; height:4.1667vw; margin:1.3889vw auto; border-radius:2.0833vw; font-size:1.2500vw; line-height:4.1667vw; letter-spacing:-0.1389vw;}

    .sub.pride .row {height:26.6667vw; margin-top:2.0833vw; letter-spacing:-0.1389vw;}
    .sub.pride .row:before {top:0; width:27.7778vw; height:100%; font-size:20.1389vw; line-height:25.0000vw;}
    .sub.pride .row:after {top:12.8472vw; width:1.3889vw; height:1.3889vw;}
    .sub.pride .row.odd:after {left:27.0833vw;}
    .sub.pride .row.even:after {right:27.0833vw;}

    .sub.pride .row strong {top:2.4306vw; font-size:2.9167vw; line-height:3.4722vw;}
    .sub.pride .row span {top:2.7778vw; font-size:2.2222vw;}
    .sub.pride .row ul {bottom:1.7361vw; width:25.0000vw; font-size:1.2500vw;}
    .sub.pride .row li {padding-bottom:0.6944vw; padding-left:2.0833vw; line-height:1.8056vw;}
    .sub.pride .row li + li {margin-top:0.6944vw;}
    .sub.pride .row li:before {top:0; left:0; font-size:0.6944vw; letter-spacing:0;}

    .sub.pride .row.odd {padding-left:27.7778vw;}
    .sub.pride .row.odd strong {left:30.5556vw;}
    .sub.pride .row.odd span,
    .sub.pride .row.odd ul {left:55.5556vw;}

    .sub.pride .row.even {padding-right:27.7778vw;}
    .sub.pride .row.even strong {left:2.7778vw;}
    .sub.pride .row.even span,
    .sub.pride .row.even ul {left:27.7778vw;}

	.sub.pride .pride3515 + .img_box {margin:2.0833vw auto -2.0833vw;}
    .sub.pride .eagle_project .row strong {top:9.3750vw;}
    .sub.pride .eagle_project .row span {top:14.3750vw; font-size:1.2500vw; line-height:2.0833vw; letter-spacing:-0.0694vw;}
    .sub.pride .eagle_project .row.title_g strong {top:7.6389vw;}
    .sub.pride .eagle_project .row.title_g span {top:16.3194vw;}
    .sub.pride .eagle_project .row.odd strong,
    .sub.pride .eagle_project .row.odd span {left:30.5556vw;}
    .sub.pride .eagle_project .row.even strong,
    .sub.pride .eagle_project .row.even span {left:2.7778vw;}
}



@media (max-width:768px) {

    /* --------------------
        common
    -------------------- */
    .pc_only {display:none !important;}
    .m_only {display:block !important;}
    .float_l {float:none;}
    .float_r {float:none;}

    .inner {width:100%;}
    header {height:13.3333vw;}
    header h1 {width:35.7333vw; padding:2.1333vw 4.0000vw; box-sizing:content-box;}
    header h1 img {width:27.7333vw; height:9.6000vw;}
    header .btn_gnb,
    header .btn_close {top:3.3333vw; right:2.6667vw; width:6.6667vw; height:6.6667vw; padding:1.3333vw;}

    main {padding:0 4.0000vw;}
    .btn_go_top {position:static; width:calc(100% + 8.0000vw); height:16.0000vw; margin-left:-4.0000vw; padding-top:0; background:none; background-color:#123770; font-size:3.2000vw; line-height:16.0000vw;}

    footer {height:16.0000vw; padding-top:2.6667vw;}
    footer .inner {padding:0 4.0000vw;}
    footer .float_l {float:left;}
    footer .float_r {float:right;}
    footer .copyright {font-size:3.2000vw; letter-spacing:0.0800vw; line-height:10.6666vw;}
    footer img {width:17.0667vw; height:8.4000vw; margin:0;}

    /* --------------------
        Gnb_layer
    -------------------- */
    .gnb_wrap .gnb {padding-top:0; padding-left:4.0000vw;}
    .gnb_wrap .gnb > li {padding:6.6667vw 0 2.0000vw;}
    .gnb_wrap strong {padding-bottom:4.0000vw; font-size:5.3333vw; font-weight:400;}
    .gnb_wrap strong + ul {margin-left:-4.0000vw;}
    .gnb_wrap strong + ul:after {content:''; display:block; clear:both;}
    .gnb_wrap strong + ul li {position:relative; float:left; width:50%; padding:0 3.3333vw; border-bottom:0.1333vw solid #002c64; background-color:#02234e; font-size:2.1333vw;}
    .gnb_wrap strong + ul li:nth-child(even) {border-left:0.1333vw solid #002c64;}
    .gnb_wrap strong + ul li:before,
    .gnb_wrap strong + ul li + li:before {content:'- '; position:static; background-color:transparent;}
    .gnb_wrap strong + ul li.last:before {content:'' !important;}
    .gnb_wrap strong + ul li > a {padding-left:0.6667vw; font-size:3.4667vw; line-height:11.3333vw;}
    

	/* --------------------
		Download_layer
	-------------------- */
	.download_layer {top:calc(50% - 36.0000vw); left:calc(50% - 25.3333vw); width:50.6667vw;}
	.download_layer ul {padding:4.0000vw;}
	.download_layer ul > li {background-position:center right 4.0000vw; background-size:2.9333vw 2.5333vw;}
	.download_layer ul > li + li {margin-top:1.3333vw;}
	.download_layer ul > li > a {padding-left:4.0000vw; font-size:2.6667vw; line-height:10.6667vw;}
	.download_layer .btn_box {padding:3.7333vw 4.0000vw; font-size:1.8667vw;}
	.download_layer .btn_box .chk_today {width:2.1333vw; height:2.1333vw; margin-left:1.3333vw;}


    /* --------------------
        Index
    -------------------- */
    .container.main {width:100%;}
    .container.main main {padding:0;}
    .container.main main .inner {width:100%;}
    .container.main .link_box {float:none; width:100%;}
    .container.main .link_box > div {height:47.2000vw; background-size:50% 47.2000vw;}
    .container.main .link_box a {width:50%; font-size:5.3333vw; font-weight:400; line-height:47.2000vw; letter-spacing:-1.5px;}
    .container.main .person > a,
    .container.main .leader > a {margin-left:50%;}
    .container.main .scholar > a,
    .container.main .pride > a {margin-right:50%;}
    .container.main .pride > a {line-height:1;}
	.container.main .pride > a > span > span {font-size:3.4667vw;}

	.link_wrap {padding:5.3333vw 4.0000vw;}
	.link_wrap ul {width:100%;}
	.link_wrap ul > li {float:none; width:100%; height:10.6667vw; border:0.5333vw solid #fff; border-radius:5.3333vw; background-position:center right 4.6667vw; background-size:4.5333vw 4.0000vw;}
	.link_wrap ul > li + li {margin-top:2.6667vw; margin-left:0;}
	.link_wrap ul > li > a {padding-left:6.0000vw; font-size:3.2000vw; line-height:10.1333vw;}


    /* --------------------
        Sub
    -------------------- */
    .sub footer {margin-top:0;}

    .sub article {text-indent:0; padding:8.6667vw 0 2.6667vw;}
    .sub article > h3 {padding-left:26.0000vw; font-size:5.3333vw; font-weight:400; line-height:8.0000vw; letter-spacing:-0.2000vw;}
    .sub.leader article > h3 {padding-top:10.6667vw; padding-left:0;}
    .sub article > h3:before {top:-0.6667vw; left:0; width:22.0000vw; height:7.2000vw; border-width:0.5333vw; border-radius:4.0000vw; font-size:3.2000vw; line-height:6.9333vw;}
    .sub article .img_box {padding-top:5.3333vw;}
    .sub article .txt_box {text-indent:2.0000vw; padding:4.6667vw 0; font-size:2.9333vw; line-height:6.9333vw;}
	.sub.person article .txt_box,
	.sub.scholar article .txt_box {margin:4.6667vw 0; padding:0;}
    .sub.pride article .txt_box {text-indent:0;}
    .sub article .txt_box.type01 > span {width:calc(50% - 1.6000vw);}

    .sub.person article .txt_box.type02,
    .sub.scholar article .txt_box.type02 {min-height:auto;}
    .sub article .txt_box.type02 > dl {width:100%;}
	.sub article .txt_box.type02 > dl.float_l:after {display:none;}
    .sub article .txt_box.type02 > dl dt {padding:2.6667vw 2.0000vw; font-size:4.0000vw;}
    .sub article .txt_box.type02 > dl dd {padding:3.3333vw 0 3.3333vw 2.0000vw; font-size:2.6667vw;}
    .sub article .txt_box.type02 > dl dd > strong {padding-bottom:1.3333vw; font-size:3.2000vw;}
    .sub article .txt_box.type02 > dl dd > ul + strong {padding-top:3.0000vw;}
    .sub article .txt_box.type02 > dl dd li {line-height:5.8667vw;}
    .sub article .txt_box.type02 > dl dd.cell01 li > span {width:100%;}
    .sub article .txt_box.type02 > dl dd.cell02 li > span:first-child {width:30.6667vw;}
    .sub article .txt_box.type02 > dl dd.cell03 li > span:first-child {width:21.3333vw;}
    .sub article .txt_box.type02 > dl dd.cell03 li > span:nth-child(2) {width:34.0000vw;}
    .sub article .txt_box.type02 > dl .tit05 + dd > strong {padding-bottom:1.3333vw;}
    .sub article .txt_box.type02 > dl .tit05 + dd li {line-height:5.3333vw;}
    .sub article .txt_box.type02 > dl .tit05 + dd > ul + strong {padding-top:4.6667vw;}


    /* --------------------
        Sub - Pride
    -------------------- */
    .sub.pride footer {margin-top:0;}

    .sub.pride article {padding:8.0000vw 0 4.0000vw;}
    .sub.pride article > h3 {font-size:5.3333vw; padding-left:0; letter-spacing:-0.2000vw;}
    .sub.pride article .img_box {padding:10.6667vw 0 8.6667vw;}
    .sub.pride article .img_box img {width:53.3333vw; height:27.3333vw;}
    .sub.pride article .txt_box.type03 > dl {width:100%; height:auto; background-color:#123770;}
    .sub.pride article .txt_box.type03 > dl:before {position:static;}
    .sub.pride article .txt_box.type03 > dl dt,
    .sub.pride article .txt_box.type03 > dl dd {float:none;}
    .sub.pride article .txt_box.type03 > dl dt {position:static; padding:1.8667vw 4.0000vw; background-color:#0e2f62; font-size:4.8000vw;}
    .sub.pride article .txt_box.type03 > dl dd {width:100%; margin-left:0; padding:4.9333vw 0 6.6667vw 3.7333vw !important;}
    .sub.pride article .txt_box.type03 > dl dd strong {display:block; font-size:2.4000vw;}
    .sub.pride article .txt_box.type03 > dl dd span + strong {padding-top:3.6000vw;}

    .sub.pride .row {height:29.8667vw; margin-top:4.0000vw; margin-bottom:40.0000vw; letter-spacing:-0.2667vw;}
    .sub.pride .row:before {width:29.3333vw; font-size:21.3333vw; line-height:29.8667vw;}
    .sub.pride .row:after {top:14.0000vw; width:2.6667vw; height:2.6667vw;}
    .sub.pride .row.odd:after {left:27.3333vw;}
    .sub.pride .row.even:after {right:27.3333vw;}

    .sub.pride .row strong {top:4.0000vw; font-size:6.4000vw; line-height:6.6667vw;}
    .sub.pride .row span {top:22.0000vw; font-size:3.2000vw; font-weight:400;}
    .sub.pride .row ul {width:100%; font-size:3.2000vw; font-weight:700;}
    .sub.pride .row li {padding-bottom:1.3333vw; padding-left:3.3333vw; line-height:7.4667vw; letter-spacing:-0.4000vw;}
    .sub.pride .row li + li {margin-top:1.3333vw;}
    .sub.pride .row li:last-child {border-bottom:0;}
    .sub.pride .row li:before {top:0; left:0; font-size:3.2000vw; font-weight:700; letter-spacing:0;}
    .sub.pride .row li:first-child:before {content:'1.';}
    .sub.pride .row li:nth-child(2):before {content:'2.';}
    .sub.pride .row li:last-child:before {content:'3.';}

    .sub.pride .row.odd {padding-left:29.3333vw;}
    .sub.pride .row.odd strong {left:34.6667vw;}
    .sub.pride .row.odd span {left:34.6667vw;}
    .sub.pride .row.odd ul {top:33.3333vw; bottom:auto; left:0.0000vw;}

    .sub.pride .row.even {padding-right:53.3333vw;}
    .sub.pride .row.even strong {left:5.3333vw;}
    .sub.pride .row.even span {left:5.3333vw;}
    .sub.pride .row.even ul {top:33.3333vw; bottom:auto; left:0.0000vw;}

	.sub.pride .pride3515 + .img_box {margin:2.0833vw auto -2.0833vw;}
    .sub.pride .eagle_project .row {margin-bottom:22.6667vw;}
    .sub.pride .eagle_project .row strong {top:8.0000vw; font-size:4.8000vw;}
    .sub.pride .eagle_project .row span {top:34.6667vw; font-size:3.2000vw; font-weight:700; line-height:5.3333vw; letter-spacing:-0.2000vw;}
    .sub.pride .eagle_project .row.title_g strong {top:4.6667vw;}
    .sub.pride .eagle_project .row.title_g span {top:34.6667vw;}
    .sub.pride .eagle_project .row.odd strong {left:34.6667vw;}
    .sub.pride .eagle_project .row.odd span {left:0;}
    .sub.pride .eagle_project .row.even strong {left:5.3333vw;}
    .sub.pride .eagle_project .row.even span {left:0;}
}